<% provide(:title, "Listado de Libros") %>

<div class="header-books">
<div class="add-book-link">
<%= link_to "Agregar nuevo libro", new_book_path, class: "link link-primary" %>
</div>

<%= form_with url: books_path, method: :get, local: true do |form| %>
  <div class="filter-status">
    <%= form.label :status_id, "Filtrar por estado:", class: "label-filter" %>
    <%= form.select :status_id, options_for_select([["Todos", ""]] + Status.all.map { |s| [s.name, s.id] }, params[:status_id]), {}, { class: "select-status" } %>
    <%= form.submit "Filtrar", class: "link link-filter" %>
  </div>
<% end %>
</div>

<ul class="books-list">
  <% @books.each do |book| %>
    <li class="books-item">
      <div class="book-title">
      <%= book.title %> - <%= book.author_full_name %>
      </div>

      <div class="status-book">
        <%= book_status_label(book) %>
      </div>
      
      <div class="books-actions">
       <%= link_to "Ver", book_path(book), class: "link link-show" %>
       <%= link_to "Editar", edit_book_path(book), class: "link link-edit" %>
       <%= link_to "Eliminar",
            book_path(book),
            class: "link link-delete",
            data: {
              turbo_method: :delete,
              turbo_confirm: "¿Seguro?"
            } %>
      </div>
    </li>
  <% end %>
</ul>

