<% provide(:title, "Detalles del Libro") %>

<div class="books-show">
<div class="book-details">
<h2><%= @book.title %></h2>
<p><strong>Autor:</strong> <%= @book.author_full_name %></p>
<p><strong>Periodo Lectura:</strong> <%= period_lecture(@book) %></p>
<p><strong>Estado:</strong> <%= book_status_label(@book) %></p>
</div>

<div class="book-actions">
<%= link_to "Volver a la lista", books_path, class: "link link-back" %>
<%= link_to "Editar", edit_book_path(@book), class: "link link-edit" %>
<%= link_to "Eliminar",
            book_path(@book),
            class: "link link-delete",
            data: {
              turbo_method: :delete,
              turbo_confirm: "¿Seguro?"
            } %>
</div>